body{
  min-height: 100vh;
  min-width: 100vw;
  margin:0;
  background-image: url(./images/wool.png);
  background-size: 100% 100%;
}


h1{
  text-align:center;
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  max-height: 20em; 
  max-width: 20em;
  /* gap: 10px; */
  margin:auto;

}



.element-placeholder{
  display: flex ;
  align-items: center;
  justify-content: center;
  background-color: #F2E8C9;
  border: 2px solid #F2B544;
  padding: 2em;
  cursor: pointer;
  /* margin: 5%; */
}

.element-placeholder:hover{
  background-color: #c5ba9b;
}


.element{
  /* border-radius: 50%; */
  /* background-color: rgb(44, 60, 55); */
  width: 3.5rem;
  /* padding: 1.5em; */
}

.element:hover{
  transform: scale(1.1);
}

#clear{
  background-color: rgba(44, 60, 55, 0);
}

.animate__animated.animate__slideInDown{
  --animate-duration: 800ms;
}

.container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: end;
  height: 100vh;
  padding-bottom: 20%;
}

.side{
  background-color: #F2E8C9;
  width: 70%;
  height: 30%;
  border-radius: 30%;
  display:flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.side-items-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 1fr;
  font-size: 0.8em;
}

.control-container{
  display:flex;
  flex-direction: column;
  align-self: flex-end;
  /* height: 70%; */
}

.game {
  width: 3fr;
}

.control{
  padding:0;
  border:0 ;
  width: 1fr;
  background: none;
}

.control-image{
  max-height:5em;
  width: auto;
}
