body{
  min-height: 100vh;
  min-width: 100vw;
  margin:0;
  background-image: url(./images/wool.png);
  background-size: cover;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


.container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 20%;
}





/* field styling */
.game{
  width: 60%;
  margin: 0 10%
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  max-height: 20em; 
  max-width: 20em;
  margin:auto;
}

.element-placeholder{
  display: flex ;
  align-items: center;
  justify-content: center;
  background-color: #F2E8C9;
  border: 2px solid #F2B544;
  padding: 2em;
  cursor: pointer;
}

.element-placeholder:hover{
  background-color: #c5ba9b;
}

.element{
  width: 3.5rem;
  transition: transform 0.2s;
}

.element:hover{
  transform: scale(1.1);
}

.animate__animated.animate__slideInDown{
  --animate-duration: 800ms;
}






/* right side */
.side-item{
  background-color: #F2E8C9;
  width: 70%;
  height: 30%;
  border-radius: 30%;
  display:flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.side-items-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 20%;
  font-size: 1.4em;
}





/* left side */
.control-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: 20%;
}

.control{
  padding:0;
  border:0 ;
  background: none;
}

.control:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.control-image{
  max-height:5em;
  width: auto;
}






/* pop up styling */
.game-over, .pause{
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F2E8C9;
  border: 5px solid #F26A1B;
  border-radius: 40px / 50%;
  padding: 5%;
  text-align: center;
  display:none;
}

.popup-container{
  position: relative;
}

.text, .score{
  font-size: 1.5em;
  font-weight: 800;
}

.header{
  background-color: #F2B544;
  padding: 5% 20%;
  border-radius: 10% 10% 50% 50%;
  transform: translate(0, -170%);
}

a{
  text-decoration: none;
}






/* index page styling */
.index-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-btn{
  background-color: #F2E8C9;
  border: 1px solid #F26A1B;
  border-radius: 20px;
  padding: 2% 5%;
  font-size: 1.5em;
  color:#F26A1B;
  transition: background 0.8s;
}

.play-btn:hover{
  background:#F26A1B radial-gradient(circle, transparent 1%, #F26A1B 1%) center/15000%;
  color: white;
}

.title{
  max-width: 30em;
  height: auto;
  animation: pulse;
  animation-duration: 2s;
}