body{
  min-height: 100vh;
  min-width: 100vw;
  margin:0;
  background-image: url(./images/wool.png);
  background-size: 100% 100%;
}

section{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

h1{
  text-align:center;
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  max-height: 20em; 
  max-width: 20em;
  /* gap: 10px; */
  margin:auto;

}



.element-placeholder{
  display: flex ;
  align-items: center;
  justify-content: center;
  background-color: #F2E8C9;
  border: 2px solid #F2B544;
  padding: 2em;
  cursor: pointer;
  /* margin: 5%; */
}

.element-placeholder:hover{
  background-color: #c5ba9b;
}


.element{
  /* border-radius: 50%; */
  /* background-color: rgb(44, 60, 55); */
  width: 3.5rem;
  /* padding: 1.5em; */
}

.element:hover{
  transform: scale(1.1);
}

#clear{
  background-color: rgba(44, 60, 55, 0);
}

.animate__animated.animate__slideInDown{
  --animate-duration: 800ms;
}